# Task 1.3

### 5. Create random data using the pd.DataFrame() function in your new notebook.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Creating a random test DataFrame
data = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Ethan"],
    "Age": np.random.randint(20, 50, size=5),  # Random ages between 20 and 50
    "Score": np.random.uniform(50.0, 100.0, size=5),  # Random scores between 50.0 and 100.0
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]
})

# Display the DataFrame
print(data)

      Name  Age      Score         City
0    Alice   48  89.794833     New York
1      Bob   25  52.639478  Los Angeles
2  Charlie   21  79.063349      Chicago
3    Diana   42  55.607177      Houston
4    Ethan   39  51.495399      Phoenix

### 6. Create a new column and execute a mathematical procedure in one of the existing columns using a lambda function

In [4]:
# Creating a new column using a lambda function
data['Score_Percentage'] = data['Score'].apply(lambda x: x / 10)

# Display the updated DataFrame
print(data)

      Name  Age      Score         City  Score_Percentage
0    Alice   48  89.794833     New York          8.979483
1      Bob   25  52.639478  Los Angeles          5.263948
2  Charlie   21  79.063349      Chicago          7.906335
3    Diana   42  55.607177      Houston          5.560718
4    Ethan   39  51.495399      Phoenix          5.149540

### 7. Create a flag column from the text column in your example dataframe using a lambda function

In [7]:
# Creating a flag column: Is Score_Percentage >= 8?
data['High_Percentage_Flag'] = data['Score_Percentage'].apply(lambda x: 1 if x >= 7 else 0)

# Display the updated DataFrame
print(data)

      Name  Age      Score         City  Score_Percentage  \
0    Alice   48  89.794833     New York          8.979483
1      Bob   25  52.639478  Los Angeles          5.263948
2  Charlie   21  79.063349      Chicago          7.906335
3    Diana   42  55.607177      Houston          5.560718
4    Ethan   39  51.495399      Phoenix          5.149540

   High_Percentage_Flag
0                     1
1                     0
2                     1
3                     0
4                     0